<%= provide(:title, 'PillBox') %>

<% if signed_in? %>
	<h1>
		Daily Report
		<div>
			<small>
				<%= Time.now.strftime("%A, %B %d, %Y") %>
			</small>
		</div>
	</h1>
	<div class="row">
		<div class="span6 offset3">
			<%= render 'shared/daily_report' %>
		</div>
	</div>

<% else %>
	<div class="center hero-unit">
		<h1>PillBox</h1>
		<h2>Helping you manage your daily medical rountines.</h2>
		<%= link_to "Sign up now!", new_user_path, class: "btn btn-large btn-primary" %>
	</div>
<% end %>