<%= provide(:title, 'PillBox') %>
<div class="center hero-unit">
	<h1>PillBox</h1>
	<h2>Helping you manage your daily medical rountines.</h2>
	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
