<%= provide(:title, "PillBox | Users") %>
<h1>All Users</h1>

<div class="row">
	<ul class="user-list">
		<% @users.each do |user| %>
			<% unless user.admin? %>
				<li>
						<%= link_to user.name, user %>
    				| <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
          <% end %>
				</li>
		<% end %>
	</ul>
</div>